#custom_archives {
	.game_item {
		height: 300px;
		border-bottom: solid 5px $sv-blue;
		position: relative;
		background-color: #000000;

		a {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 5;
			top: 0px;
			left: 0px;
		}

		.container {
			display: flex;
			height: 100%;
			align-items: center;
			align-content: center;
			flex-wrap: wrap;
		}

		.logo {
			max-width: 300px;
		}

		.game_list_text {
			flex-basis: 100%;
			color: $sv-yellow;
			text-transform: uppercase;
			font-size: 30px;
		}

		.bg {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			filter: grayscale(100%);
			opacity: 0.3;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		&:hover {
			.bg {
				filter: grayscale(60%);
				opacity: 0.9;
			}
		}
	}
}