footer {
	#join-discord {
		a {
			background-color: $sv-yellow;
			color: #000000;
			text-decoration: none;
			font-family: 'd-din_condenseddinCnBd';
			font-size: 80px;
			text-align: center;
			display: block;
			text-transform: uppercase;
			padding: 30px 0;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;

			&:hover {
				background-color: $sv-blue;
				color: #ffffff;
			}
		}
	}

	#footer-main {
		padding: 50px 0 0 0;

		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			text-align: center;

			li {
				display: inline;
				font-size: 24px;
				color: #ffffff;

				a {
					color: #ffffff;
					text-decoration: none;
					text-transform: uppercase;
					padding: 0px 30px;
					-moz-transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;

					&:hover {
						color: $sv-yellow;
					}
				}
			}
		}

		#footer-logo {
			padding: 40px 0;
			text-align: center;
		}

		#copyright {
			font-size: 14px;
			color: #ffffff;
			opacity: 0.5;
		}
	}
}