/*
font-family: 'd-din_condensedregular';
font-family: 'd-din_condenseddinCnBd';
*/

header#masthead {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 100px;
	border-bottom: solid 5px $sv-yellow;
	position: fixed;
	width: 100%;
	z-index: 1000;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	&:after {
		content: '';
		display: block;
		background-image: url(../images/header-shadow.png);
		background-repeat: repeat-x;
		position: absolute;
		width: 100%;
		bottom: -14px;
		height: 9px;
	}

	@media (max-width: 1350px) {
		height: 60px;
	}


	#header_inner {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 5;

		#logo_wrap {
			a {
				position: relative;
				margin-left: -10px;
				z-index: 100;

				img {
					height: 121px;
					-moz-transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;

					@media (max-width: 1350px) {
						height: 75px;
					}
				}
			}
		}

		#nav_wrap {

			@media (max-width: 1150px) {
				display: none;
			}

			ul {
				margin: 0px;
				list-style: none;
				padding: 0px;
				letter-spacing: -6px;
				margin-right: -9px;

				li {
					display: inline-block;
					letter-spacing: 0;
					position: relative;

					a {
						font-family: 'd-din_condenseddinCnBd';
						color: #ffffff;
						text-decoration: none;
						display: block;
						height: 100px;
						line-height: 100px;
						font-size: 24px;
						text-transform: uppercase;
						padding: 0 15px;
						background-image: url(../images/menu-bg.png);
						background-repeat: repeat-x;
						background-position: 0 100px;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;

						@media (max-width: 1350px) {
							height: 60px;
							line-height: 60px;
						}
					}

					ul.sub-menu {
						display: block;
						box-sizing: border-box;
						position: absolute;
						background-color: $sv-yellow;
						white-space: nowrap;
						padding: 15px 35px 0 15px;
						visibility: hidden;
						opacity: 0;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;

						li {
							display: block;
							height: 40px;
							line-height: 40px;

							a {
								height: auto;
								line-height: normal;
								font-family: 'd-din_condensedregular';
								color: #000000;
								padding: 0px;
								font-weight: 300;
								text-transform: none;
								display: block;

								&:hover {
									color: #ffffff;
								}
							}
						}
					}

					&.current_page_item, &.current-menu-parent {
						a {
							background-position: 0 7px;

							@media (max-width: 1350px) {
								background-position: 0 -33px;
							}
						}
					}
					&:hover {
						a {
							background-position: 0 7px;

							@media (max-width: 1350px) {
								background-position: 0 -33px;
							}
						}

						ul.sub-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	


	&.notAtTop {
		height: 60px;

		#header_inner {
			#logo_wrap {
				a {
					img {
						height: 75px;
					}
				}
			}

			#nav_wrap {
				ul {
					li {
						a {
							height: 60px;
							line-height: 60px;
						}

						&:hover, &.current_page_item {
							a {
								background-position: 0 -33px;
							}
						}
					}
				}
			}
		}
	}
}
#event_wrap_main {
	position: fixed;
	width: 100%;
	z-index: 340;
	
	@media (max-width: 1100px) {
		display: none;
	}


	#event_wrap {
		position: absolute;
		right: 0px;
		background-color: $sv-yellow;
		height: 44px;
		line-height: 44px;
		top: 105px;
		padding-right: 20px;
		-moz-transition: all .4s ease;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;

		@media (max-width: 1350px) {
			top: 65px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: -100%;
			top: 0px;
			width: 100%;
			background-color: $sv-yellow;
			height: 44px;
		}

		#event_wrap_inner {
			position: relative;
			display: flex;
			justify-content: space-between;
		}

		#event_wrap_title {
			text-transform: uppercase;
			font-size: 24px;
			font-family: 'd-din_condenseddinCnBd';
			background-color: $sv-blue-dark;
			transform: skew(30deg);
			padding: 0px 30px;
			margin-left: -15px;

			span {
				display: block;
				transform: skew(-30deg);
				color: #ffffff;
			}
		}

		#event_info {
			padding: 0 20px;
			text-transform: uppercase;
			font-size: 20px;
		}

		.blue_btn {
			margin-top: 7px;
		}

		&.notAtTop {
			top: 65px;
		}
		&.hide-events {
			opacity: 0;
			top: 0px;
			filter: blur(10px);
		}
	}
}