#page-title {
	background-image: url(../images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 300px;

	@media (max-width: 1350px) {
		height: 260px;
	}

	h1 {
		padding-top: 100px;
		font-weight: normal;
		line-height: 200px;
		font-family: 'd-din_condenseddinCnBd';
		margin: 0px;
		font-weight: 800;
		color: #ffffff;
		font-size: 60px;
		text-shadow: rgba(0,0,0,0.9) 0px 0px 34px;
		text-transform: uppercase;

		@media (max-width: 1350px) {
			padding-top: 60px;
		}
	}
}