.blue_btn {
	background-color: $sv-blue;
	border-radius: 3px;
	color: #ffffff;
	text-transform: uppercase;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
    font-family: 'd-din_condenseddinCnBd';
	padding: 0px 20px;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	&:hover {
		background-color: lighten($sv-blue,10);
	}
}

.yellow-angled {
	height: 55px;
	line-height: 55px;
	display: inline-block;
	font-size: 28px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'd-din_condenseddinCnBd';
	color: #000000;
	transform: skew(38deg);
	padding: 0px 30px;
	margin-left: 36px;
	position: relative;
	background-color: $sv-yellow;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	&:hover {
		padding: 0px 40px;
	}

	span {
		display: block;
		transform: skew(-38deg);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		background-color: $sv-blue;
		width: 10px;
		height: 100%;
		top: 0px;
		left: -15px;
	}
}
.angled-btn {
	margin-top: 10px;
	display: block;
	height: 55px;
	line-height: 55px;
	padding-left: 15px;
	box-sizing: border-box;
	margin-left: 54px;
	background-color: $sv-yellow;
	color: #101010;
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: none;
	position: relative;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	&::before {
		content: '';
		position: absolute;
		left: -38px;
		top: 0px;
		width: 0;
		height: 0;
		border-top: 55px solid $sv-yellow;
		border-left: 38px solid transparent;
		-moz-transition: all .4s ease;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: -34px;
		background-color: #ffffff;
		width: 10px;
		height: 100%;
		transform: skew(35deg);
	}

	&:hover {
		background-color: $sv-blue;
		color: #ffffff;

		&::before {
			border-top-color: $sv-blue;
		}
	}
}