html {
	&.noscroll {
		position: fixed; 
		overflow-y: hidden;
		width: 100%;
	}
}
body, html {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
    font-family: 'd-din_condensedregular';
	font-size: 16px;
	background-color: #000000;
}
body {
	height: 100%;
}
@supports (display: grid) {
	.wow {
		visibility: hidden;
	}
	.wow-fix {
		visibility: visible !important;
	}
}
.container {
	max-width: 1440px;
	padding: 0px 20px;
	margin: 0 auto;
	position: relative;
}
.texture-bg {
	background-image: url(../images/texture-bg.jpg);
	background-position: center top;
	background-repeat: repeat-y;
}
.delay0-1s { -webkit-animation-delay: 0.1s;	-moz-animation-delay: 0.1s;	-o-animation-delay: 0.1s;	animation-delay: 0.1s; }
.delay0-2s { -webkit-animation-delay: 0.2s;	-moz-animation-delay: 0.2s;	-o-animation-delay: 0.2s;	animation-delay: 0.2s; }
.delay0-3s { -webkit-animation-delay: 0.3s;	-moz-animation-delay: 0.3s;	-o-animation-delay: 0.3s;	animation-delay: 0.3s; }
.delay0-4s { -webkit-animation-delay: 0.4s;	-moz-animation-delay: 0.4s;	-o-animation-delay: 0.4s;	animation-delay: 0.4s; }
.delay0-5s { -webkit-animation-delay: 0.5s;	-moz-animation-delay: 0.5s;	-o-animation-delay: 0.5s;	animation-delay: 0.5s; }
.delay0-6s { -webkit-animation-delay: 0.6s;	-moz-animation-delay: 0.6s;	-o-animation-delay: 0.6s;	animation-delay: 0.6s; }
.delay0-7s { -webkit-animation-delay: 0.7s;	-moz-animation-delay: 0.7s;	-o-animation-delay: 0.7s;	animation-delay: 0.7s; }
.delay0-8s { -webkit-animation-delay: 0.8s;	-moz-animation-delay: 0.8s;	-o-animation-delay: 0.8s;	animation-delay: 0.8s; }
.delay0-9s { -webkit-animation-delay: 0.9s;	-moz-animation-delay: 0.9s;	-o-animation-delay: 0.9s;	animation-delay: 0.9s; }
.delay1s { -webkit-animation-delay: 1s;	-moz-animation-delay: 1s;	-o-animation-delay: 1s;	animation-delay: 1s; }
.delay1-1s { -webkit-animation-delay: 1.1s;	-moz-animation-delay: 1.1s;	-o-animation-delay: 1.1s;	animation-delay: 1.1s; }
.delay1-2s { -webkit-animation-delay: 1.2s;	-moz-animation-delay: 1.2s;	-o-animation-delay: 1.2s;	animation-delay: 1.2s; }
.delay1-3s { -webkit-animation-delay: 1.3s;	-moz-animation-delay: 1.3s;	-o-animation-delay: 1.3s;	animation-delay: 1.3s; }
.delay1-4s { -webkit-animation-delay: 1.4s;	-moz-animation-delay: 1.4s;	-o-animation-delay: 1.4s;	animation-delay: 1.4s; }
.delay1-5s { -webkit-animation-delay: 1.5s;	-moz-animation-delay: 1.5s;	-o-animation-delay: 1.5s;	animation-delay: 1.5s; }
.delay1-6s { -webkit-animation-delay: 1.6s;	-moz-animation-delay: 1.6s;	-o-animation-delay: 1.6s;	animation-delay: 1.6s; }
.delay1-7s { -webkit-animation-delay: 1.7s;	-moz-animation-delay: 1.7s;	-o-animation-delay: 1.7s;	animation-delay: 1.7s; }
.delay1-8s { -webkit-animation-delay: 1.8s;	-moz-animation-delay: 1.8s;	-o-animation-delay: 1.8s;	animation-delay: 1.8s; }
.delay1-9s { -webkit-animation-delay: 1.9s;	-moz-animation-delay: 1.9s;	-o-animation-delay: 1.9s;	animation-delay: 1.9s; }
.delay2s { -webkit-animation-delay: 2s;	-moz-animation-delay: 2s;	-o-animation-delay: 2s;	animation-delay: 2s; }

.yellow-bar {
	height: 13px;
	margin: 2px 0;
	background-color: $sv-yellow;

	&.no-mrg-top {
		margin-top: 0px;
	}

	&.no-mrg-btm {
		margin-bottom: 0px;
	}

	&.smheight {
		height: 5px;
	}

	&.lrgmrg {
		margin: 60px 0;
	}
}
.aligncenter,
.has-text-align-center {
	text-align: center;
}
.type-title {
	margin-left: 11px;
	height: 72px;
	position: relative;
	box-sizing: border-box;
	border-bottom: solid 7px $sv-blue;

	h2 {
		color: #ffffff;
		background-color: $sv-blue;
		display: inline-block;
		height: 65px;
		min-width: 269px;
		box-sizing: border-box;
		line-height: 72px;
		text-align: center;
		margin: 0px;
		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		text-transform: uppercase;
		font-family: 'd-din_condenseddinCnBd';
		font-size: 40px;


		&:before {
			content: '';
			display: block;
			height: 72px;
			background-color: $sv-yellow;
			width: 6px;
			left: -11px;
			top: 0px;
			position: absolute;
		}

		&:after {
			content: '';
			position: absolute;
			right: -38px;
			top: 0px;
			width: 0;
			height: 0;
			border-bottom: 65px solid $sv-blue;
			border-right: 38px solid transparent;
		}
	}
}
#site_wrap {
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	&.dim {
		filter: blur(5px);
		opacity: 0.3;
	}
}
.mob-menu-header-holder {
	width: 40px !important;
}