@font-face {
    font-family: 'd-din_condensedregular';
    src: url('d-dincondensed-webfont.woff2') format('woff2'),
         url('d-dincondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-din_condenseddinCnBd';
    src: url('d-dincondensed-bold-webfont.woff2') format('woff2'),
         url('d-dincondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}