/*
font-family: 'd-din_condensedregular';
font-family: 'd-din_condenseddinCnBd';
*/
h4 {
	text-align: center;
	font-weight: normal;
	font-family: 'd-din_condenseddinCnBd';
	font-size: 60px;
	text-transform: uppercase;
}

#events_archive_wrap {
	.event_item {
		background-color: rgba(255,255,255,0.05);
		padding: 30px;

		h2 {
			font-family: 'd-din_condenseddinCnBd';
			font-weight: normal;
			margin: 0px;
			font-size: 40px;
			text-transform: uppercase;

			span {
				color: $sv-yellow;
			}
		}
	}

	.angled-btn {
		margin-top: 0px;
		margin-bottom: 50px;
	}
}
#labels_wrap {
	display: flex;
	justify-content: center;
	gap: 80px;

	.event-label {
		min-width: 300px;
		text-align: center;

		h3 {
			margin: 0px;
			padding: 0px;
			font-weight: normal;
			text-transform: uppercase;
			color: $sv-yellow;
			font-family: 'd-din_condenseddinCnBd';
			font-size: 28px;
			border-bottom: solid 1px $sv-yellow;
			height: 35px;
			line-height: 35px;
			margin-bottom: 20px;
		}
	}
}