/*
font-family: 'd-din_condensedregular';
font-family: 'd-din_condenseddinCnBd';
*/
#hero_wrap {
	background-image: url(../images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 792px;
	box-sizing: border-box;
	padding-top: 105px;
	display: flex;
	border-bottom: solid 5px $sv-yellow;
	align-items: center;

	@media (max-width: 1000px) {
		height: 575px;
	}

	@media (max-width: 768px) {
		height: 375px;
	}

	.container {
		width: 100%;
	}

	h2 {
		color: $sv-yellow;
		font-weight: normal;
		margin: 0px;
		font-size: 90px;
		font-family: 'd-din_condenseddinCnBd';
		text-transform: uppercase;
		text-shadow: rgba(0,0,0,0.9) 0px 0px 34px;

		@media (max-width: 1000px) {
			font-size: 60px;
		}
	}

	h3 {
		color: #ffffff;
		font-weight: normal;
		margin: 0 0 20px 0;
		font-size: 40px;

		@media (max-width: 1000px) {
			font-size: 30px;
		}
	}
}

#main {
	padding-top: 10px;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#game-servers {
	#game-selection {
		background-color: rgba(255,255,255,0.06);
		padding: 15px 0;

		#servers-text {
			text-align: center;
			color: #ffffff;
			font-size: 16px;
			margin-bottom: 10px;
		}

		#games-logos-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 80px;

			.logo-item {
				width: 25%;
				text-align: center;
				cursor: pointer;
				opacity: 0.2;
				-moz-transition: all .4s ease;
				-webkit-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;

				&:hover,
				&.active {
					opacity: 1;
				}

				img {
					max-width: 100%;
					max-height: 110px;
					padding: 30px 0;
					margin: 0 auto;
					-moz-transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
				}
			}
		}
	}

	#main-servers-wrap {
		padding-top: 95px;
		padding-bottom: 95px;
		color: #ffffff;
		-moz-transition: all .1s ease;
		-webkit-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;

		&.blur {
			filter: blur(50px);
		}

		.servers {
			display: none;

			h4 {
				text-align: center;
				font-size: 100px;
				font-weight: normal;
			}

			.server-type {
				margin-bottom: 100px;

				@media (max-width: 1500px) {
					margin-left: auto;
					margin-right: auto;
					max-width: 1150px;
				}

				@media (max-width: 1200px) {
					max-width: 860px;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}

			&.active {
				display: block;
			}

			.servers-wrap {
				padding-top: 10px;



				.server-item {
					position: relative;
					width: 280px !important;
					max-width: 280px;
					height: 322px;
					overflow: hidden;
					margin-right: 10px;

					.black-grad {
						background-image:url(../images/server-item-black-grad.png);
						position: absolute;
						width: 100%;
						bottom: 0px;
						height: 177px;
					}

					.white-grad {
						background-image:url(../images/server-item-white-grad.png);
						position: absolute;
						width: 100%;
						top: -155px;
						height: 155px;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;
					}

					.overlay-hover {
						background-color: $sv-yellow;
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;
					}

					.server-info-wrap {
						position: relative;
						z-index: 20;
						height: 100%;

						h3 {
							margin: 0px;
							font-family: 'd-din_condenseddinCnBd';
							text-align: center;
							font-weight: normal;
							font-size: 32px;
							color: $sv-yellow;
							text-transform: uppercase;
							position: absolute;
							bottom: 10px;
							width: 100%;
							-moz-transition: all .4s ease;
							-webkit-transition: all .4s ease;
							-o-transition: all .4s ease;
							transition: all .4s ease;

							span {
								font-family: 'd-din_condensedregular';
								color: #ffffff;
								font-size: 20px;
								text-transform: normal;
								-moz-transition: all .4s ease;
								-webkit-transition: all .4s ease;
								-o-transition: all .4s ease;
								transition: all .4s ease;
							}
						}

						.join-with {
							position: absolute;
							width: 100%;
							text-align: center;
							text-transform: uppercase;
							color: #ffffff;
							bottom: -50px;
							font-size: 20px;
							-moz-transition: all .4s ease;
							-webkit-transition: all .4s ease;
							-o-transition: all .4s ease;
							transition: all .4s ease;

							a {
								color: inherit;
								text-decoration: none;
								-moz-transition: all .4s ease;
								-webkit-transition: all .4s ease;
								-o-transition: all .4s ease;
								transition: all .4s ease;

								&:hover {
									color: $sv-yellow;
								}
							}
						}
					}


					&:hover {
						.overlay-hover {
							opacity: 0.3;
						}

						.white-grad {
							top: 0px;
						}

						.server-info-wrap {
							h3 {
								bottom: 275px;
								color: $sv-blue;

								span {
									color: $sv-blue;
								}
							}

							.join-with {
								bottom: 15px;
							}
						}
					}
				}
			}
		}
	}
}

#custom-gear {
	.customer-gear-parallax {
		background-size: cover;
		background-attachment: fixed;

		.custom-example-item {
			position: absolute;
			display: none;
			background-repeat: no-repeat;

			&.active {
				display: block;
			}
		}

		#custom-gear-title {
			background-image: url(../images/custom-gear-title.png);
			background-repeat: no-repeat;
			width: 891px;
			height: 73px;
			margin: 0 auto;
		}

		#custom-gear-columns {
			display: flex;
			justify-content: space-between;
			padding-top: 24px;

			.gear-column {
				width: 325px;
				height: 518px;
				box-sizing: border-box;
				background-image: url(../images/custom-gear-bg.png);
				background-position: left bottom;
				background-repeat: repeat-x;
				text-align: center;
				padding: 0 16px;
				position: relative;

				h3 {
					margin: 0px;
					padding: 0px;
					font-weight: normal;
					text-transform: uppercase;
					color: $sv-yellow;
					font-family: 'd-din_condenseddinCnBd';
					font-size: 28px;
					border-bottom: solid 1px $sv-yellow;
					height: 35px;
					line-height: 35px;
					margin-bottom: 20px;
				}

				ul {
					margin: 0px;
					padding: 0px;
					list-style: none;
					color: #ffffff;
					font-size: 24px;
					line-height: 24px;
					text-transform: uppercase;

					li {
						padding-bottom: 7px;

						span {
							color: $sv-yellow;
						}
					}
				}

				.custom-gear-pricing {
					position: absolute;
					bottom: 20px;
					left: 0px;
					width: 100%;
					text-align: center;
					font-family: 'd-din_condenseddinCnBd';
					color: $sv-yellow;
					font-size: 55px;
					line-height: 46px;

					span {
						color: #ffffff;
					}

				}
			}
		}
	}

	.container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 25px 0;
		height: 724px;
		box-sizing: border-box;

		#custom-stats {
			width: 995px;
			margin-right: 20px;
			position: relative;
			z-index: 5;
		}
	}

}
#custom-merch {
	padding: 50px 0;
}